.btn {
  background-color: aqua;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;

}

.btn:hover {
  background-color: #2563eb;
}

.btn:disable {
  background-color: #7a7a7a;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}